* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  margin-bottom: 0.5rem;
}
.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.loginContainer {
  padding: 2rem;
  width: 350px;
  max-width: 90%;
  border: 3px solid;
}
/* Form Styles */
.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 3px;
}
input {
  padding: 0.4rem;
}
.errorMsg{
  color: red;
}
/* Login Btn Styles */
.loginBtn {
  width: 100%;
  padding: 0.4rem 0.7rem;
  margin-bottom: 0.5rem;
}

/* Divider Styles */
.divider {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 0.3rem;
}
.divider::after,
.divider::before {
  content: "";
  flex: 1;
  height: 1px;
  background-color: black;
}

/* Google Auth Btn Styles */
.googleLogin {
  width: 100%;
  padding: 0.4rem 0.7rem;
  margin-bottom: 0.3rem;
}
.register {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
